extends layout/head.pug
block head
  title gulp
  link(href="/style/common.css" rel="stylesheet" type="text/css")
block script
  div.open 点击
  script(src="/script/index.js")
block content
  div index
